.calendar {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f4f4f4;
        width: 100%;
        margin-bottom: 20px;

        .calendar__prev-month,
        .calendar__next-month {
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: #0077cc;
            transition: all 0.3s ease;

            &:hover {
                color: #0077cc;
            }
        }

        .calendar__prev-month:hover,
        .calendar__next-month:hover {
            color: #005fa3;
        } 

        .calendar__month-year {
            font-size: 1.5rem;
            font-weight: bold;
            color: #333;
        }
    }

    .calendar__day-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        color: #333;
        font-size: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #0077cc;
            color: white;
        }

        &:active {
            background-color: #005fa3;
        }

        &:focus {
            outline: none;
            border: 2px solid #0077cc;
        }
    }
}

.calendar__radio-btn {
    display: none;
}

#prev-month:checked ~ .calendar__month-year {
    content: "December 2023";
}

#next-month:checked ~ .calendar__month-year {
    content: "February 2024";
}

.calendar__days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #333;
    padding: 10px 0;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    padding: 10px;
    justify-items: center;
}

.calendar__day {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}