body{
    display: flex;
}

.side-bar{
    padding: 0.3rem;
    svg{
        display: flex;
    }

    .middle-sidebar{
        justify-content: space-around;
    }
}


main{
    flex: 1;
    
        .top-header{
            display: flex;
            text-align: center;
            padding: 0.3rem;

            svg{
                margin-top: 0.6rem;
                margin-inline: 0.3rem;
            }
        }
        
        .toggle{
            flex: 1;
            margin-top: 0.3rem;
        }
        
        .second-header{
            display: flex;

            li{
                list-style: none;
                flex-grow: 0.38;
            }

            .chevron{
                display: flex;

                p{
                    margin-inline: 0.3rem;
                }
                
            }

            button{
                margin-inline: 0.4rem;
            }
        }

        .top-main{
            display: flex;
            text-align: center;

            li{
                list-style: none;
                flex: 1;
            }
        }
        .side-main{
            display: flex;
            flex-direction: column;
            height: 100%;
            li{
                flex: 1;
                color: white;
            }
        }

    }
