body{
    display: flex;
}

.side-bar{
    padding: 0.3rem;

    li{
        margin-top: 18rem;
        list-style: none;
    }

    .top-sidebar{
        display: flex;
        flex-direction: column;
        svg{
            font-size: 1.8rem;
            margin-left: 0.3rem;
            margin-top: 1rem;
        }
    }

    .middle-sidebar{
        display: flex;
        flex-direction: column;
        flex: 1;

            svg{
                font-size: 1.8rem;
                margin-left: 0.3rem;
                margin-top: 2.4rem;
            }
        }
    }


main{
    flex: 1;
    margin-left: 0.5rem;
    
        .top-header{
            display: flex;
            text-align: center;
            padding: 0.3rem;

            svg{
                margin-top: 0.6rem;
                margin-inline: 0.3rem;
            }
        }
        
        .toggle{
            flex: 1;
            margin-top: 0.3rem;
        }
        
        .second-header{
            display: flex;
            margin-bottom: 0.8rem;

            li{
                list-style: none;
                flex-grow: 0.38;
            }

            .chevron{
                display: flex;

                p{
                    margin-inline: 0.3rem;
                }
                
            }

            button{
                margin-inline: 0.4rem;
            }
        }

        .top-main{
            display: flex;
            text-align: center;

            li{
                list-style: none;
                flex: 1;
            }
        }
        .side-main{
            display: flex;
            flex-direction: column;
            li{
                margin-bottom: 1.4rem;
                color: white;
            }
        }

    }
