/* Composition */
.layout-flex-column{
    display: flex;
    flex-direction: column;
}

.layout-grid-12-12{
    display: grid;
    grid-template: repeat(12,1fr) / repeat(12,1fr);
}

/* Utility */
.font-text{
    Font: Roboto Slab;
}
/* Block */

/* Exception */