/* Composition */


.layout-grid{
    display: grid;
    grid-template: repeat(12,1fr) / repeat(12,1fr);
}

/* Utility */

.primary {
    background-color: #3f6ff3;
}

.secondary {
    background-color: #e2e9fd;
}

.neutral-300 {
    background-color: #f8f9fb;
}

.neutral-400 {
    background-color: #eceff4;
}

.neutral-500 {
    background-color: #c5cfdd;
}

.neutral-600 {
    background-color: #a2aab3;
}

.green {
    background-color: #70d36b;
}

.yellow {
    background-color: #ffcb05;
}

.red {
    background-color: #ff5d54;
}

.font-text{
    Font: Roboto Slab;
}

.margin-bottom-auto{
    margin-bottom: auto;
}

.grid-span-vertical{
    grid-row: 1/span 12;
}

/* Block */
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    border: solid 1px black

}

/* Exception */

